<div class="container" style="margin-top: 20px">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="row mb-5">
                <div class="col-md-4 mr-auto">
                    <h3 class="thin-heading mb-4">Bitola</h3>
                    <p>Vero, Nova Bitola
                        no. 105</p>
                </div>
                <div class="col-md-6 ml-auto">
                    <h3 class="thin-heading mb-4">Contact Info</h3>
                    <p>T: +1 (291) 939 9321 <br> E: <a href="" class="__cf_email__"></a></p>
                </div>
            </div>
        </div>
    </div>
</div>